// Brand Colors
$brand-cream: #E6EADD;
$brand-tan: #BA9B72;
$brand-olive: #A2A58D;
$brand-green: #58624A;
$brand-black: #2D2D26;

:root {
    --brand-cream: #{$brand-cream};
    --brand-tan: #{$brand-tan};
    --brand-olive: #{$brand-olive};
    --brand-green: #{$brand-green};
    --brand-black: #{$brand-black};
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
